@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}

.page-container {
  opacity: 0; /* Start with transparency */
  animation: fadeIn 0.35s ease-in-out forwards; /* Animation properties */
}
.selector {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start from transparency */
  }
  to {
    opacity: 1; /* Fade to fully visible */
  }
}
